
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.logo {
    font-size: 50px;
    font-weight: 700;
    color: black;
}

.padding-box {
    padding: 50px 180px;
}

.d-flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.top-space-50 {
    margin-top: 50px;
}


header button {
    display: none;
}

.search-nav {
    justify-content: space-between;
    width: 60%;
}

.nav-bar {
    list-style: none;
    gap: 30px;
    text-transform:capitalize ;
    font-size: 20px;
}

.head-bar {
    justify-content: space-between;
}

.img-profile {
    border-radius: 50%;
    object-fit: cover;
}

.search-profile {
    gap: 15px;
    align-items: center;
}


.page-box {
    flex-direction: column;
}

.about-box-head {
    font-size: 30px;
    text-transform: capitalize;
    border-bottom: 2px solid rgba(128, 128, 128, 0.4);
    padding-bottom: 30px;
}

.food-box-head {
    font-size: 60px;
}

.food-box-img {
    width: 100%;
    object-fit: cover;
}


.food-box-text {
    font-size: 26px;
    margin-top: 30px;
}

.berry-box-write {
    width: 48%;
    padding-right: 10px;
}

.berry-box-head {
    font-size: 50px;
}

.berry-box-text {
    font-size: 25px;
    margin-top: 15px;
}

.berry-box-img {
    width: 48%;
}


.berry-box-img img {
    width: 100%;
}


.team-box {
    margin-top: 100px;;
}



.team-box-head {
    font-size: 70px;
    margin-bottom: 15px;
}

.team-box-profiles-net {
    width: 100%;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 29px;
    text-align: center;
    margin-top: 50px;
}

.team-box-prof-text {
   font-size: 10px;
}

.team-box-prof-img {
    border-radius: 50%;
    margin-bottom: 5px;
    object-fit: cover;
}




/* responsive part of the programme */

/* mobile phones responsive part */

@media screen and (max-width: 748px) {
    .padding-box {
        padding: 10px 15px;
    }

    header button { 
        display: block ;
  }  

    .nav-bar {
      display: none;
      justify-content: ;
    }

    nav {
        order: 3;
    
    }
    .search-nav {
       justify-content: end;
       gap: 50px;
    }

    .search-profile {
        gap: 50px;
    }

    .about-box-head {
        padding-top: 50px;
    }

    .food-box-head {
        font-size: 42px;
    }

    .berry-box {
      flex-direction: column-reverse;
    }

    .berry-box-img {
        width: 100%;
    }

    .berry-box-write {
        width: 100%;
    }

    .berry-box-head {
        font-size: 46px;
        margin-top: 30px;
    }

    .team-box-head {
        font-size: 40px;
    }

    .team-box-profiles-net {
        width: 100%;
        justify-content: space-between;
    }
}